<marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" loop="infinite" direction="left"
    class="text-white mt-3 mb-3">
    <div class="flex flex-row gap-8">
        <div *ngFor="let coin of headerCoins">
            <div class="flex flex-col gap-x-4">
                <img [src]="coin.image" [alt]="coin.name" width="60">
                <div>
                    <h4>{{coin.symbol | uppercase}} <span
                            class="text-red-400">{{coin.market_cap_change_percentage_24h}}%</span></h4>
                    <p class="text-yellow-300">{{coin.current_price | currency: "CAD"}}</p>
                </div>
            </div>
        </div>
    </div>
</marquee>

<section class="grid gap-5 text-white p-8 m">
    <h1 class="text-2xl text-white text-center font-bold">KoinTracker</h1>
    <p class="text-white text-center md:pl-32 md:pr-32">Elevate your crypto experience! 📈
        Track live prices, analyze trends, and stay ahead in the fast-paced world of cryptocurrencies.
        🌐 With sleek design and real-time updates, KoinTracker is your go-to platform for mastering the crypto
        universe. 💻⚡ Dive in and ride the waves of digital assets with confidence!</p>
    <button routerLink="coin-page"
        class="mx-auto p-2 text-white bg-indigo-600 hover:bg-indigo-500 rounded-2xl text-xl w-[14rem] text-center ">Check
        Live Prices</button>
</section>
