<div class="pt-3 pl-6 pr-6 pb-7 flex justify-between items-center">
    <div class="text-center text-white text-xl font-semibold "><a href=""> <span class="text-yellow-400">Koin</span><span class="text-green-500">Tracker</span></a></div>
    <ul class="flex items-center">
        <li class="m-3 text-center text-white "><a href="">HOME</a></li>
        <select  class="bg-inherit text-white" name="currency" id="currency">
            <option class="bg-black  text-white" selected value="cad">CAD</option>
            <option class="bg-black  text-white" value="usd">USD</option>
            <option class="bg-black  text-white" value="inr">INR</option>
        </select>
    </ul>
</div>